@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------General Styles-*/

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.full-block {
    display: block;
}

.centered {
    text-align: center;
}

/*----------------------------------------------------Header-*/

.header-container {
    min-height: 56px;
    width: 100%;
    background-color: #403b3b;
}

.heading {
    font-size: 36px;
    color: #fff;
}

.logo {
    background: url("../Media/image-fixed.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 122px;
    transition: all .5 ease-in-out;
    margin: 0;
    padding-left: 0;
}

.btn-header {
    min-height: 122px;
    height: 100%;
    font-size: 36px;
    background-color: #a00505;
    border-color: #3c0808;
    color: #fbcece;
    text-transform: uppercase;
    font-family: Exo;
}

.btn-header:hover {
    background-color: #5f0f0f;
    color: #fbcece;
    border-color: #3c0808;
}

/*----------------------------------------------------Nav----*/

.menuitem {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 2px;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.nav-link {
    color: #fbcece;
}

.nav-link:hover {
    color: #a00505;
}

/*----------------------------------------------------Overlay----*/

.deco-section {
    height: 70vh;
    background: url(../Media/home_page.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/*--------------------------------------------------Featured----*/

.featured {
    background-color: #403b3b;
    color: #fff;
}

.display-tat-1 {}

.display-tat-2 {}

.display-tat-3 {}

.display-tat-4 {}

h2 {
    overflow: hidden;
    text-align: center;
}

h2:before,
h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 25%;
}


/*----------------------------------------------------Footer----*/

.footer-container {
    background-color: #403b3b;
    color: #fff;
    min-height: 120px;
    margin: 0;
    padding-left: 10px;
    padding-top: 15px;

}

.btn-footer {
    background-color: #a00505;
    border-color: #3c0808;
    color: #fbcece;
    text-transform: uppercase;
    font-family: Exo;
}

.btn-footer:hover {
    background-color: #5f0f0f;
    color: #fbcece;
    border-color: #3c0808;
}

.social-links li a i {
    font-size: 30px;
}


/*----------------------------------------------------About-----*/

.profile-photo {
    float: left;
    background-color: #403b3b;
    margin-right: 10px;
}

.about-me {
    font-family: Roboto;
    letter-spacing: 1.5px;
    font-weight: 600;
    background-color: #403b3b;
    color: #fff;
    padding-top: 15px;

}

/*--------------------------------------------------Gallery-----*/

.gallery-section {
    background-color: #403b3b;
    color: #fff;
}

.gallery-tattoo {
    max-height: 600px;
    max-width: 600px;
    display: inline-block;
    margin: 15px;
}

